@using Marathonrunner.ViewModels;
@model EditUserDashboardViewModel

<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    @if (TempData["ClubError"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }
    <div class="form-group">
        <label asp-for="Pace">Pace</label>
        <input asp-for="Pace" class="form-control" placeholder="Enter Title">
        <span asp-validation-for="Pace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mileage">Mileage</label>
        <input asp-for="Mileage" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="Mileage" class="text-danger"></span>
    </div>    
    
    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="State" class="text-danger"></span>
    </div>    
    
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

 @*   <div class="form-group">
        <label asp-for="clubCategory">Club Category</label>
        <select asp-for="clubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()">

            <option>-Select-</option>

        </select>
    </div>

    <div class="form-group">
        <label asp-for="Address.state">State</label>
        <input asp-for="Address.state" class="form-control" placeholder="Enter State">
        <span asp-validation-for="Address.state" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.city">City</label>
        <input asp-for="Address.city" class="form-control" placeholder="Enter City">
        <span asp-validation-for="Address.city" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.street">Street</label>
        <input asp-for="Address.street" class="form-control" placeholder="Enter Street">
        <span asp-validation-for="Address.street" class="text-danger"></span>
    </div>*@

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Upload Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>





    <button type="submit" class="btn btn-primary">Submit</button>
</form>