@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Information We Collect</h2>
                <p>
                    <br />
                    
                    <h5>Personal Information:</h5>
                    <br />
                    When you visit our website, we may collect certain personally identifiable information, including but not limited to:
                    <br />
                    <br/>
                    <li>Name</li>
                    <li>Email address</li>
                    <li>Contact information (such as address and phone number)</li>
                    <li>Date of birth</li>
                    <li>Gender</li>
                    <li>Running preferences and history</li>
                    <li>Any other information you voluntarily provide to us</li>
                    <br />
                    <h5>Usage Data:</h5>
                    <br />
                    We may also collect non-personally identifiable information about your use of our website. This may include your IP address, browser type, operating system, referring URLs, and other similar information.
                <br /></p>
@*                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
*@            </div>
            <div class="col-md-4">
                <h2>Use of Information</h2>
                <br />
                <p>
                    <h5>Personal Information:</h5>
                    <br />
                    We use the personal information you provide to us for the following purposes:
                    <br />

                    <li>To communicate with you and respond to your inquiries</li>
                    <li>To provide you with the information, products, or services you request</li>
                    <li>To personalize your experience on our website</li>
                    <li>To process and administer your registrations for races or events/li>
                    <li>To send you marketing communications, newsletters, or promotional materials (with your consent, where required by applicable law)/li>
                    <li>To improve our website and the services we offer</li>
                    <br />
                    <h5>Usage Data:</h5>
                    <br />

                    We use non-personally identifiable information to analyze trends, administer the website, track users' movements, and gather demographic information for aggregate use. This helps us to improve our website and tailor it to the needs and preferences of our visitors.
                </p>
@*                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
*@            </div>
            <div class="col-md-4">
                <h2>Others</h2>
                <p>
                    <br />
                    <h5>Data Security:</h5>
                    <br />

                    We take appropriate measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. However, please note that no data transmission over the internet or electronic storage method is 100% secure. Therefore, we cannot guarantee the absolute security of your information.
                    <br />
                    <br />

                    <h5>Sharing of Information:</h5>
                    <br />

                    We do not sell, trade, or rent your personal information to third parties without your consent, except as described in this Privacy Policy. We may share your information in the following circumstances:
                    <br />
                    With trusted third-party service providers who assist us in operating our website, conducting our business, or providing services to you, subject to strict confidentiality obligations
                    With law enforcement agencies, government officials, or other third parties when required by law or to protect our legal rights or the rights of others
                    In connection with a corporate transaction, such as a merger, sale of assets, or bankruptcy, where personal information may be transferred as part of the transaction

                    <br /><br />
                    <h5>
                        Your Rights:
                    </h5>
                    <br />

                    You have certain rights regarding your personal information. These rights may include the right to access, update, correct, or delete your personal data. If you wish to exercise any of these rights or have any questions or concerns about our Privacy Policy, please contact us using the information provided below.

                    <br /><br />
                    <h5>
                        Third-Party Links:
                    </h5>
                    <br />

                    Our website may contain links to third-party websites or services. We are not responsible for the privacy practices or content of these third parties. We encourage you to review the privacy policies of those third parties before providing any personal information.


                    <br /><br />
                    <h5>
                        Changes to this Privacy Policy:
                    </h5>
                    <br />

                    We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised policy on our website. We encourage you to review this Privacy Policy periodically for any updates.
               <br /><br />
                </p>
@*                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
*@            </div>
        </div>

</div>
